*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	background: #03dfff;
	background: linear-gradient(139deg,#3103ffc7 0%,#ff0381b6 90%);
}
.container{
	position: relative;
	max-width: 800px;
	padding: 10px;
	margin: 50px auto;
}
.addTask{
	width: 100%;
	display: flex;
	padding: 10px 0;
}
.addTask > input[type="text"]{
	width: 90%;
	color: #333;
	
	
	padding: 10px;
	font-size: 22px;
	outline: none;
}




#hello{
    display: flex;
    justify-content: space-between;
}
.addTask button{
	margin: 0 10px;
	background: #222;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
}
.notCompleted, .Completed{
	margin: 5px 0;
	padding: 20px;
}
h3{
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	color: rgba(255, 255, 255, 0.966);
}
div{
	list-style: none;
	counter-reset: my-counter;
}
div li{
	width: 100%;
	padding: 18px;
	margin: 5px 0;
	background: #e96969bb;
	font-size: 22px;
	counter-increment: my-counter;
}
div.Completed li{
	background: #9900ff;
    display:flex;
	text-decoration: line-through;
}
div li::before{
	content: counter(my-counter);
	background: #231381;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: inline-block;
	line-height: 2rem;
	text-align: center;
	color: rgba(255, 255, 255, 0.027);
	margin-right: 0.5rem;
}
li button{
	float: right;
	padding: 5px;
	font-size: 28px;
	line-height: 28px;
	margin-right: 15px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
#sum{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    font-size: 3.2rem;
    
}